@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
  width: 37.5rem;
  margin: 2rem auto 0;
  padding: 1rem;
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(136, 109, 93, 0.616);
}

h1 {
  margin: 1.34rem 0;
  color: #f39209;
  text-align: center;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(129, 77, 5, 0.726);
}

h2 {
  margin: 1.245rem 0;
  color: #125189;
}

p {
  margin: 1rem;
  text-align: justify;
}
