.index {
  background-color: hsl(0, 0%, 83%);
}

.green {
  background-color: hsl(111, 67%, 76%);
  color: hsl(105, 61%, 24%);
}

.yellow {
  color: hsl(31, 50%, 53%);
  background-color: hsl(60, 100%, 95%);
}